<div>
    <h2 id="page-heading">
        <span>Teachings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-teaching" [routerLink]="['/teaching/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Teaching
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="teachings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Subject</span></th>
            <th><span>Teacher</span></th>
            <th><span>Group</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let teaching of teachings ;trackBy: trackId">
                <td><a [routerLink]="['/teaching', teaching.id, 'view' ]">{{teaching.id}}</a></td>
                <td>
                    <div *ngIf="teaching.subject">
                        <a [routerLink]="['../subject', teaching.subject?.id, 'view' ]" >{{teaching.subject?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="teaching.teacher">
                        <a [routerLink]="['../teacher', teaching.teacher?.id, 'view' ]" >{{teaching.teacher?.user.firstName}} {{teaching.teacher?.user.lastName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="teaching.group">
                        <a [routerLink]="['../group', teaching.group?.id, 'view' ]" >{{teaching.group?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/teaching', teaching.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/teaching', teaching.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'teaching', { outlets: { popup: teaching.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
