<div class="text-center">
    <h1 class="display-4 d-block">Print management</h1>
    <div>
        <div class="alert alert-success m-auto d-block" *ngIf="isAuthenticated()">
            <span id="home-logged-message" *ngIf="account"> Welcome back "{{ account.login }}". </span>
        </div>

        <div *ngIf="!isAuthenticated()" class="row">
            <div class="col-md-6 text-center">
                <jhi-login-modal></jhi-login-modal>
            </div>
            <div class="col-md-6  text-center">
                <jhi-register></jhi-register>
            </div>
        </div>
    </div>
</div>